@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  margin: 20px;
}

body.dark {
  background-color: #292929;
}

@layer base {

  h2 {
    @apply text-xl font-semibold
  }

  h3 {
    @apply text-lg font-semibold
  }

  p {
    @apply text-sm text-lightgray
  }
}


@custom-variant dark (&:where(.dark, .dark *));

@layer components {

  .card-component {
    @apply h-24 bg-darkgray dark:bg-white text-white dark:text-darkgray my-4 rounded-xl flex items-center px-4 mx-auto max-w-150 cursor-pointer;
  }

  .primary-text {
    @apply text-darkgray dark:text-white;
  }

  .primary-text-hover {
    @apply hover:text-lightgray hover:scale-110 transition duration-300 cursor-pointer;
  }

  .secondary-text {
    @apply text-darkgray;
  }

  .secondary-text-hover {
    @apply text-lightgray;
  }
}


@theme {
  --color-darkgray: #292929;
  --color-lightgray: #616161;
  --color-superlightgray: #c6c6c6;
  --color-white: #F5F5F5;
}