@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: #292929;
  margin: 20px;
}

@layer base {

  h2 {
    @apply text-xl font-semibold
  }

  h3 {
    @apply text-lg font-semibold
  }

  p {
    @apply text-sm text-lightgray
  }
}

@layer components {

  .card-component {
    @apply h-24 bg-white my-4 rounded-xl text-darkgray flex items-center px-4 mx-auto max-w-150
  }
}


@theme {
  --color-darkgray: #292929;
  --color-lightgray: #616161;
  --color-white: #F5F5F5;
}